<p>producto-componente works!</p>
<h1>Producto</h1>
<div class="container">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" 
                class="form-control" id="nombre" 
                placeholder="Ingrese nombre"
                [(ngModel)]="nuevoProdc().nombre">
    </div>
    <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="precio" 
        placeholder="Ingrese precio"
        [(ngModel)]="nuevoProdc().precio">
    </div>
    <div class="mb-3">
        <label for="categoria" class="form-label">Categoria</label>
        <select class="form-select" aria-label="Default select example"
            [(ngModel)]="nuevoProdc().categoriaId">
            <option value="0">Seleccione una categoria</option>
            <option *ngFor="let c of categorias() "  [value]="c.id">
                {{c.nombre}}
            </option>
  
        </select>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" 
            (click)="guardar()">Guardar</button>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let prod of productos()">
            <strong>{{prod.nombre}}</strong> en  {{prod.precio}} Bs
            <p><strong>Categoria:</strong> &nbsp;<i>{{prod.categoriaId}}</i> {{obtenerNombreCategoria(prod.categoriaId)}}</p>
            <button type="button" class="btn btn-warning" 
            (click)="editar()">Editar</button>
             <button type="button" class="btn btn-danger" 
            (click)="eliminar()">Eliminar</button>
        </li>
    </ul>
</div>

